
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  --animation-duration: 350ms;
}

#introduction           { grid-area: introduction; }
#experiments-list       { grid-area: experiments-list; }
#experiment             { grid-area: experiment; }
#experiment-description { grid-area: experiment-description; }
#examples               { grid-area: examples; }

main {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "introduction"
    "experiments-list"
    "experiment"
    "experiment-description"
    "examples";
  width: 100dvw;
  padding: 1rem;
  opacity: 0;
  transition: opacity var(--animation-duration) var(--animation-duration);

  &.loaded {
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "introduction            experiments-list"
      "experiment              experiment"
      "experiment-description  examples";
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "introduction      experiment  experiment-description"
      "experiments-list  experiment  examples";
    height: 100dvh;
    overflow: hidden;
  }
}

h1 {
  margin-top: 0;
}

.error {
  color: red;
}

section {
  border: 1px dashed black;
  padding: 1rem;
  cursor: grab;
  transition: opacity 0.2s, outline-color 0.2s;
  &:hover {
    background-color: antiquewhite;
  }
}

section.dragging {
  opacity: 0.4;
  cursor: grabbing;
}

section.drag-over {
  outline: 2px solid black;
  outline-offset: -2px;
}

#experiment {
  padding: 0;
}

#experiment-frame {
  border: none;
  height: 100%;
  width: 100%;
}

#spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: white;
  opacity: 0;
  transition: opacity var(--animation-duration);

  &.visible {
    opacity: 1;
  }

  div {
    border: 1px dashed black;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    animation: spin 2s linear infinite;
    transform-origin: center;
    animation-fill-mode: none;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
