/*
Small (sm)	576px and up	576
Medium (md)	768px and up	768
Large (lg)	992px and up	992
Extra large (xl)	1200px and up	1200
*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  position: relative;
  display: grid;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  font-family: monospace;
}

.error {
  color: red;
}

section {
  margin: 1rem;
  border: 1px solid black;
  padding: 1rem;
}

#spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 1);

  &.has-loaded {
    animation: loaded 350ms linear 1 forwards;
  }

  img {
    height: 1rem;
    width: 1rem;
    animation: spin 1s linear infinite;
    transform-origin: center;
    animation-fill-mode: none;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loaded {
  99% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
  }
  100% {
    display: none;
    pointer-events: all;
  }
}
