@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --padding-small: .5rem;
  --padding-medium: 2rem;
  --border: .25rem solid black;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: gainsboro;
}

menu-card {
  border-radius: .25rem;
  padding: var(--padding-medium);
  width: 20rem;
  background-color: white;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .5);
}
card-header {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  text-transform: uppercase;
}
header-title {
  font-size: 2rem;
}
header-subtitle {
  font-size: 1.25rem;
}
card-body {

}

/* HEADER */

card-body header,
card-body footer { 
  display: flex;
  min-height: var(--padding-medium);
  width: 100%;
}
card-body header div:first-child {
  width: 40%;
}
card-body header div:nth-child(2) {
  border-left: var(--border);
  border-top: var(--border);
  width: 20%;

}
card-body header div:nth-child(3) {
  border-top: var(--border);
  border-right: var(--border);
  width: 40%;

}

/* FOOTER */

card-body footer { 
}
card-body footer div:first-child {
  width: 40%;
  background-color: palegoldenrod;
}
card-body footer div:nth-child(2) {
  border-top: var(--border);
  width: 20%;
  background-color: palegoldenrod;

}
card-body footer div:nth-child(3) {
  border-top: var(--border);
  width: 40%;

}